:root{
    --blueB:#03045e;
    --blue:#0077b6;
    --blueL:#00b4d8;
    --ligth:#90e0ef;
    --extraL:#caf0f8;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: signika Negative;
}
h2{
    color:var(--blueB);
    font-family: Anton;
}

.container{
    display:flex; 
    justify-content: space-between;
    width: 100%;
}
.subContL{
    background-color: var(--blue);
    width: 33.3%;
    padding-left: 10px;

}
.imagen{
    text-align: center; 
}
.imagen img{
    margin-top: 8%;
    border:solid 2px black;
    border-radius:50%;
    width: 50%; 
}
.info{
    display: grid;
    row-gap: 5px;
    margin-top: 5%;
}
.info p{
    font-size: 25px;
    font-weight: 900;
}
.info span{
    font-size: 20px;
    font-weight: 400;
    color:var(--ligth)
}
.info a{
    width: fit-content;
    display: flex;
    flex-direction: column;
    color: var(--extraL);
    text-decoration: none;
}
.info img{
    width: 50px;
}
.perfil{
    text-align: justify;
    width: 98%;
    margin-top: 5%;
}
.perfil h2{
    margin-top: 5%;
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
}

.perfil p{
    line-height: 22px;
    margin-top: 3%;
    font-size: 20px;
    color:var(--extraL)
}
.subContC{
    background-color:var(--blueL);
    width: 33.3%;
}

.subContC h2{
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
}
.stacks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stack{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.stack p {
    font-weight: 700;
}
.progres{
    font-weight: 700;
}
.stacks p{
    font-weight: 700;
}
.stacksImg{
    width: 50px;
}
.bloque{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 8rem;
    padding-left: 7px;
}
.bloque span{
    color:var(--extraL)
}
progress::-moz-progress-bar{
    background-color: var(--blueB);
}
progress::-webkit-progress-bar{
    background-color: var(--blueB);
}
progress{
    background-color: white;
    border:solid 1px var(--blueB);
}
hr{
    border: dashed 1px var(--blueB);
}
.separator{
    border:solid 1px black;
}
.subContR{
    background-color: var(--extraL);
    width: 33.4%;

}

.subContR h2{
    text-align: center;
    font-size:40px;
}
.idiomas h2{
    margin-top:5%;
    text-align: center;
    font-size:40px;
}
.ingles{
    margin: 10px 0px 10px 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8.5rem;
}
.ingles p {
    font-weight: 700;
}

.estudios{
    margin: 10px 0px 10px 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12rem;
}

.estudios p{
    font-weight: 700;
}
.estudios span{
    font-weight: 400;
}
.experiencia{
    margin: 10px 0px 10px 10px ; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12rem;
}

.experiencia p{
    font-weight: 700;    
    width: fit-content;
    display: flex;
    align-items: center;
    
}

.experiencia span{
    display: flex;
    align-items: center;
    font-weight: 400;
    padding-left: 5px;
}
.experiencia img{
    width: 38px;
}